.scene {
  width: 100%;
  min-height: 100vh;

  background-color: green; 

  position: relative;
}
.bg-box {
  width: 700px;
  height: 400px;

  background-image: url("https://img2.goodfon.ru/wallpaper/big/0/5b/pole-zelen-trava-dom-derevya.jpg");
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 120px;

  background-image: url("https://www.freeiconspng.com/uploads/grass-png-images-pictures-transparent-28.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.scene::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-image: url("https://www.freeiconspng.com/uploads/lamp-png-0.png");
  background-repeat: repeat-x;
  background-size: 50px;
}
.scene {
  background-image:
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru");
  background-repeat: repeat-y;
  background-position: left center;
  background-size: 50px;
}
.scene {
  background-image:
    url("https://vignette.wikia.nocookie.net/mashaandthebear/images/e/e0/%D0%81%D0%B6%D0%B8%D0%BA.png/revision/latest?cb=20180209130328&path-prefix=ru"),
    url("https://avatanplus.com/files/resources/mid/58eb07b830eab15b56162788.png");

  background-repeat: repeat-y, repeat-y;
  background-position: left center, right center;
  background-size: 50px, 50px;
}       