.scene {
  width: 100%;
  min-height: 100vh;

  background-color: green; 

  position: relative;
}
.bg-box {
  width: 700px;
  height: 400px;

  background-image: url("/img/pole-zelen-trava-dom-derevya.webp");
  background-size: cover;
  background-position: center;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.scene::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  width: 100%;
  height: 120px;

  background-image: url("/img/green-png-44873.png");
  background-repeat: repeat-x;
  background-size: contain;
}
.scene::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  background-image: url("/img/lamp-png-34914.png");
  background-repeat: repeat-x;
  background-size: 50px;
}
.scene {
  background-image:
    url("/img/3F3F.webp");
  background-repeat: repeat-y;
  background-position: left center;
  background-size: 50px;
}
.scene {
  background-image:
    url("/img/3F3F.webp"),
    url("/img/58eb07b830eab15b56162788.png");

  background-repeat: repeat-y, repeat-y;
  background-position: left center, right center;
  background-size: 50px, 50px;
}       